@import 'reset.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d3d44;
}

.section {
  justify-content: space-between;
  padding: 0 50px;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 100px;
    font-weight: 900;
    color: red;
    margin-left: -6px;
  }

  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    line-height: 1.5;
    padding-right: 150px;
  }
}

.section--wide {
  margin: 0 auto;
}

.section__projects {
  img {
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
  }
}

.project__tag {
  float: right;
  margin-top: 25px;
  font-size: 11px;
}

.project {
  margin-bottom: 100px;
}

.project__title {
  margin-top: 20px;
  font-weight: 900;
  font-size: 32px;
}

.project__subtitle {
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.5;
  margin-bottom: 25px;
  max-width: 350px;
}

.project__technologies {
  display: flex;
  flex-wrap: wrap-reverse;
}

.project__image {
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 7%);
}

.project__technology {
  font-size: 7px;
  font-weight: 700;
  padding: 5px 10px;
  background: #efefef;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.project__detail {
  line-height: 1.5;
  white-space: pre-line;
  margin-bottom: 20px;
}

.section__testimonials {
  img {
    width: 100%;
  }

  p {
    line-height: 1.5;
  }
}

.section--full {
  margin: 0 auto;
}

.section--grey {
  background: #fafbfd;
}

.jumbo__detail {
  background: white;
  border-radius: 15px;
  line-height: 1.5;
  position: relative;
  z-index: 5;
  font-size: 16px;
  white-space: normal;
  margin-top: 20px;
}

.jumbo__aside {
  padding-top: 50px;
}

.experience {
  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.experience__header {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  flex: 1;

  img {
    margin-right: 20px;
    width: 60px;
  }

  p {
    justify-self: flex-end;
    flex: 1;
    text-align: right;
    font-size: 12px;
  }
}

.experience__company {
  color: #777;
  font-size: 14px;
}

.experience__title {
  font-weight: 900;
  margin-bottom: 5px;
}

.experience__detail {
  line-height: 1.5;
  white-space: pre-line;
}

.about__title {
  color: red;
  font-size: 16px;
  margin-top: 50px;
  line-height: 1.5;
}

.about__feature {
  line-height: 1.5;
  font-size: 16px;
  margin-top: 20px;

  i {
    margin-left: -24px;
  }

  span {
    font-weight: 700;
  }
}

.section__header {
  color: #ccc;
  margin: 50px 0;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill__container {
  width: 30%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    justify-content: space-between;
    flex: 1;
  }

  p {
    font-size: 11px;
  }

  h5 {
    font-size: 12px;
    font-weight: 700;
  }
}

.skill__icon {
  box-sizing: border-box;
  width: 40px;
  background: white;
  margin-right: 10px;
}

.with--me {
  position: relative;
}

.me {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  //border-radius: 100%;
  z-index: -1;
}

button,
a {
  color: initial;
  text-decoration: none;
  background: #efefef;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
}

.footer {
  text-align: center;
  padding: 25px 0;
}